---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";
---

<Layout title="Inicio" description="Esta es la pagina principal donde muestro el contenido de mi pagina" />

<NavBar class="active" />

<h1>Inicio - Pagina Principal</h1>
