---
import "leaflet/dist/leaflet.css";
import L from 'leaflet';
---
<head>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
</head>
<section class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-center mb-4">Nuestra Ubicación</h2>
  <div id="map" class="w-full h-96 rounded-lg"></div>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const latitude = 25.6571393;
    const longitude = -100.3100316;
    const mapContainer = document.getElementById("map");

    if (!mapContainer) {
      console.error("No se encontró el contenedor del mapa.");
      return;
    }

    const map = L.map(mapContainer, { center: [latitude, longitude], zoom: 15 });

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    L.marker([latitude, longitude])
      .addTo(map)
      .bindPopup("📍 Breccia Mármol - Visítanos aquí")
      .openPopup();

    setTimeout(() => {
      map.invalidateSize();
    }, 500);
  });
</script>
