---

---

<nav class="hero-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about">Acerca de Nosotros</a></li>
  <li><a href="/products">Productos</a></li>
  <li><a href="/contact">Contacto</a></li>
  <li style="float: right"><a href="#signUp">Sign up</a></li>
  <li style="float: right"><a href="#logIn">Log in</a></li>

</nav>
