---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="{Astro.generator}" />
	<meta name="description" content={description} />
    <title>title</title>
  </head>
  <style is:global>
	body{
		background-color: #222;
		color: #fff;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 1.3rem;
	}

	a{
		color: cyan;
	}

	nav{
		list-style-type: none;		
	}

</style>
  <body>
    <slot />
  </body>
</html>
