---
import NavBar from "@/components/NavBar.astro";
import Layout from "@/layouts/Layout.astro";
import layout from "@/layouts/Layout.astro";
---

<Layout
  title="Preguntas Frecuentes"
  description="Aqui puedes encontrar las preguntas mas frecuentes sobre nuestra pagina"
>
  <div>
    Hola **a todos**. Esto es un ejemplo de markdown que hace: 

    <ul>
        <li>- Listas</li> 
        <li>- Con</li> 
        <li>- Items</li> 
    </ul>
    
    **Negrita**, *cursiva*... 
    
    <ol>
        <li>Listas</li>
        <li>Con</li> 
        <li>Orden</li>
    </ol>
  </div>

  <NavBar />
</Layout>

